body { background-color: #4C4C4C;
       color: white;
       font-size: 20px;
       margin: 0; }

.Select-control {
    background-color: 'darkgrey' !important;
       }
.VirtualizedSelectFocusedOption {
    background-color: grey;
    font-size: 18px;
    color: white;
}

.VirtualizedSelectOption {
    background-color: 'Black';
    color: black;
}

.header {
  padding: 5px;
  background: #5D6371;
  color: white;
  font-size: 20px;
}

.clear{
  clear: both;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Clear floats after the columns */
.row {
  display: table;
  clear: both;

}
.row:after {
  display: table;
  clear: both;
  padding: 10px;
  content: "";
}

.grid-container {
    display: grid;
    grid-template-columns: 500px 500px 500px
}
.grid-item1 {
    grid-column: 1;

}

.grid-item2 {
    grid-column: 2;
}

.container {
    display: flex;
    flex-direction: column;
}

.container__main {
    /* Take the remaining height */
    flex-grow: 1;

    /* Layout the left sidebar, main content and right sidebar */
    display: flex;
    flex-direction: row;
}

.container__left {
    width: 25%;
}

.container__middle {
    /* Take the remaining width */
    flex-grow: 1;
}

.container__right {
  border-left: 2px solid gray;
  padding-left: 4px;
  border-left-style: groove;
    width: 10%;
}
